<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for message in get_flashed_messages() %}
<p style="color: red">{{ message }}</p>
{% endfor %}

<form action='/login/' method="POST">
{#    <input type="email" name="email" placeholder="email"><br>#}
{#    <input type="password" name="password" placeholder="password"><br>#}
{#    <input type="submit" value="登录">#}
    {#    显示报错信息#}
    {#    {{ form.email.errors }} #}
    {{ form.hidden_tag() }}
    {{ form.email.label }}{{ form.email()}}{{ form.email.errors }}
    {{ form.password.label }}{{ form.password() }}{{ form.password.errors }}
    {{ form.submit() }}
</form>



</body>
</html>